<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
   
    <add name="MySQL" connectionString="Server=sql7.freemysqlhosting.net; Database=sql7313253; Uid=sql7313253; Pwd=QtM4himqbd" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>