<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="dbx" connectionString="server=sql7.freemysqlhosting.net;user id=sql7313253;persistsecurityinfo=True;database=sql7313253" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>